.idea
*.log
.env
thinkphp/
public/doc/
SQL/
public/MP_verify_FLAOOUUBgu3VQ7F9.txt
public/MP_verify_w6CmTQqWzUxpdkVW.txt
application/console/com/LocalScript.php

apidoc.json
*.sh
.history
uploads/
composer.json
composer.lock
invoice.json
apidoc.json
tasklog/
error/